* {
	box-sizing: border-box;
}

header, main, nav, footer, figure, figcaption, aside, section,
article { display: block; }

#mobile {
	display: none;
}

#desktop {
	display: inline;
}

body {
	color: #3F2860;
	background-color: #3F2860;
	font-family: Verdana, Arial, sans-serif;
}

header { 
    background-color: #9BC1C2; 
    background-image: url(lilyheader.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 150px;
}

h1 { 
    padding-top: 50px;
    padding-left: 2em;
}

li {
	font-size: 90%;
}

#wrapper {
	margin-left: auto;
    margin-right: auto;
    width: 80%;
	color: #3F2860;
	background-color: #F5F5F5;
    min-width: 550px; 
	max-width: 1280px
}

#mathero {
	height: 300px;
	background-image: url(yogamat.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#loungehero {
	height: 300px;
	background-image: url(yogalounge.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.floatleft {
	float: left;
	margin-right:  4em;
}

.clear {
	clear: both;
}

main {
	padding-top: 0;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 3em;
	margin-left: 170px;
}

footer {
	background-color: #9BC1C2;
	font-style: italic;
	text-align: center;
	font-size: small;
	padding: 1em;
}

nav {
	text-align: center;
	font-weight: bold;
	padding: 1em;
	float: left;
	width: 190px;
}

nav a {
	text-decoration: none;
	display: block;
	text-align: center;
	font-weight: bold;
	border-style: outset;
	border-color: #CCCCCC;
	padding: 1em;
	margin-bottom: 1em;
	transition: background-color 3s;
	
}

nav ul {
	list-style-type: none;
    padding-left: 0;
	font-size: 1.2em;
}

a:link {
	color: #3F2860;
}

a:visited {
	color: #497777;
}

a:hover {
	color: #A26100;
	border-width: 3px;
	border-style: inset;
	border-color: #333333;
	background-color: #B6D2D3;
}

@media only screen and (max-width: 64em) {
	body  {
		margin: 0;
		padding: 0;
		}
		
	#wrapper {
	min-width: 0;
	width: auto;
	margin: 0;
	padding: 0;
	}
	
	header {
		padding-top: 1px;
	}
	
	main {
		padding-top: 0;
		padding-bottom: 2.5em;
		padding-left: 1em;
		padding-right: 1em;
		margin: 0;
		font-size: 90%;
		float: none;
	}
	
	nav {
		float: none;
		width: auto;
		padding-left: 2em;
	}
	
	nav a {
		padding: 0.2em;
		margin-left: 0.3em;
		float: left;
		width: 23%;
	}
	
	h2, h3, p, dl {
		padding-left: 2em;
		padding-right: 2em;
	}
	
	main ul{
		margin-left: 2em;
	}
	
	.floatleft {
		margin-left: 2em;
		margin-bottom: 1em;
	}
	
	.clear {
		padding-left: 2em;
	}
	
	#mathero {
		height: 150px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#loungehero {
		height: 150px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 37.5em) {
	h1 {
		font-size: 2em;
		padding-top: 0.25em;
		padding-left: 1.5em;
		width: 85%;
		text-align: center;
	}
	
	nav a {
		padding: 0.5em;
		width: 45%;
		float: left;
		min-width: 6em;
		margin-left: 0.5em;
	}
	
	li {
		font-size: 100%;
	}
	
	.floatleft {
		float: none;
		display: none;
	}
	
	#mathero  {
		background-image: none;
		height: 0;
	}
	
	#loungehero  {
		background-image: none;
		height: 0;
	}
	
	footer {
		padding: 0.5em;
		margin: 0;
	}
	
	#mobile {
		display: inline;
	}
	
	#desktop {
		display: none;
}
}
	
table {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	border: 1px solid #3F2860;
	margin-bottom: 1em;
	border-collapse: collapse;
}	

td {
	padding: 0.5em;
	border: 1px solid #3F2860;
}

th {
	padding: 0.5em;
	border: 1px solid #3F2860;
}

tr:nth-of-type(even) {
	background-color: #D7E8E9;
}

caption {
	margin: 1em;
	font-weight: bold;
	font-size: 120%;
}

